// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700,900";
@import "bootstrap/scss/bootstrap";
@import "./Buttons.scss";
@import "./Sections.scss";

@import "./Header.module.scss";
@import "./Nav.module.scss";
@import "./About.module.scss";
@import "./Footer.module.scss";
@import "./Index.scss";

body,
html {
  min-height: 100%;
}

a {
  color: #fff;
  text-decoration: none;

  transition: transform 0.3s ease;

  &:hover {
    color: #fff;
    transform: skewX(-0.04turn);
  }
}

// Headers
h1 {
  font-size: 68px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 86px;
  margin: 0 0 35px 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  padding: 0;
}

h3 {
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  font-weight: 900;
  padding: 0;
  margin-bottom: 6px;
}

p {
  font-size: 18px;
  line-height: 26px;
  color: rgba(255,255,255,0.5);
}

b {
  color: #fff;
  font-weight: 700;
}