@import "./variables.scss";

.header {
  position: relative;
  height: 550px;
  width: 100%;
  background: $intro;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
    45deg,
    rgba(101, 128, 233, 0.73) 0%,
    #1e6db6 100%
  );
}

.server-info {
  margin-bottom: 4em;
  position: relative;
  z-index: 20;
  h1 {
    margin-bottom: 2em;
  }
}
